{#
  Estimations - Logiciel d'aide à l'estimation de terrains
  Copyright (C) 2025 RevivalSoft
  
  Ce programme est un logiciel libre ; vous pouvez le redistribuer et/ou
  le modifier selon les termes de la Licence Publique Générale GNU publiée
  par la Free Software Foundation Version 3.
  
  Ce programme est distribué dans l'espoir qu'il sera utile,
  mais SANS AUCUNE GARANTIE ; sans même la garantie implicite de
  COMMERCIALISATION ou D’ADÉQUATION À UN BUT PARTICULIER. Voir la
  Licence Publique Générale GNU pour plus de détails.
  
  Vous devriez avoir reçu une copie de la Licence Publique Générale GNU
  avec ce programme ; si ce n'est pas le cas, voir
  https://www.gnu.org/licenses/
#}
{% extends 'base.html.twig' %}

{% block title %}Estimation de terrain
{% endblock %}

{% block body %}
	<div class="mb-3 text-end no-print">
		<button onclick="window.print()" class="btn btn-outline-secondary">🖨️ Imprimer</button>
	</div>

	<div class="row">
		<div class="col-lg-7 col-md-12">
			<form id="regression-form" method="POST">
				<input type="hidden" name="file" value="{{ file|trim }}">
				<div class="mb-3">
					<label for="surface">Surface à estimer (m²)</label>
					<input type="number" name="surface" id="surface" class="form-control" value="{{ m2 }}" required>
				</div>

				{% if surface is defined and prix is defined and surface|length > 0 and prix|length > 0 %}
					<div class="table-responsive">
						<table class="table table-bordered text-center">
							<thead class="table-dark">
								<tr>
									<th>Inclure</th>
									<th>Surface (m²)</th>
									<th>Prix (€)</th>
								</tr>
							</thead>
							<tbody>
								{% for i in 0..(surface|length - 1) %}
									<tr>
										<td>
											<input type="checkbox" name="checked[]" value="{{ i }}" class="data-checkbox form-check-input" {% if i in checkedIndexes %} checked {% endif %}>
										</td>
										<td>{{ surface[i] }}</td>
										<td>{{ prix[i] }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<div class="alert alert-warning">Aucune donnée disponible.</div>
				{% endif %}
			</form>
		</div>

		<div class="col-lg-5 col-md-12">
			<div class="sticky-top" style="top: 80px;">
				<div id="regression-results">
					{% include 'regression/_results.html.twig' %}
				</div>
			</div>
		</div>
	</div>


	{% block javascripts %}

		<script src="{{ asset('js/regression.js') }}"></script>
	{% endblock %}

{% endblock %}
